<%= form_for(patron, :html => {:role => 'form'}) do |f| %>
  <div class='form-group'>
    <%= f.label :name %>
    <%= f.text_field :name, :class => 'form-control', placeholder: 'Awsome Name' %>
  </div>
  <div class='form-group'>
    <%= f.label :username %>
    <%= f.text_field :username, :class => 'form-control', placeholder: 'WhosAwsome' %>
  </div>
  <div class='form-group'>
    <%= f.label :email %>
    <%= f.text_field :email, :class => 'form-control', placeholder: 'Awsome@me.com' %>
  </div>
  <div class='form-group'>
    <%= f.label :password %>
    <%= f.password_field :password, :class => 'form-control', placeholder: '********' %>
  </div>
  <%= f.submit 'sign up', :class => 'btn btn-default' %>
<% end %>