<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">m0v3</a>
    </div>
    <ul class="nav navbar-nav">
    <% if current_user %>
      <li><%= link_to "Logout", session_path(current_user!), method: :delete %></li>
      <li><%= link_to "charge it", new_charge_path %></li>
    <% else %>
      <li><%= link_to "Sign Up ", new_patron_path %></li>
      <li><%= link_to "Sign In ", new_session_path %></li>
      <li><%= link_to "Twitter sign in", "/auth/twitter" %></li>
    <% end %>
    </ul>
  </div>
</nav>