<div class='nav-bar'>
  <% if current_user %>
    <%= link_to "Logout", session_path(current_user!), method: :delete %>
    <%= link_to "charge it", new_charge_path %>
  <% else %>
    <%= link_to "Sign Up ", new_patron_path %>
    <%= link_to "Sign In ", new_session_path %>
    <%= link_to "Twitter sign in", "/auth/twitter" %>
  <% end %>
</div>